p { 
    font-size: 36px;
    background-color: brown;
    border: solid 1px black;
    margin-top: 30px;
}
.head {
    background-color: yellowgreen;
    border: solid 2px black ;
}
.product {
    background-color: rgb(197,243,186);
    width: 300px;
      margin: 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: solid black 1px;
}